/* Fade in from the left, with a slight bounce-back effect */
@keyframes fadeInLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }

  80% {
    transform: translateX(1rem);
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Fade in from the right, with a slight bounce-back effect */
@keyframes fadeInRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }

  80% {
    transform: translateX(-1rem);
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Fade in from the right, with a slight bounce-back effect */
@keyframes fadeInBottom {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

